<app-navbar></app-navbar>
<div class="container">
  <div class="w-100 p-3">
    <table class="table table-bordered">
      <thead class="table-primary">
      <tr>
        <th>#</th>
        <th>Tilte</th>
        <th>Description</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ticket of ticket$ ">
        <th>{{ticket.ticketPass}}</th>
        <th>{{ticket.event.title}}</th>
        <th>{{ticket.event.date}}</th>
        <th><button class="btn btn-danger" (click)="Delete(ticket.ticketid)"> Delete </button></th>
      </tr>
      </tbody>
    </table>
  </div>
</div>

